.header{
    background-color: #333333;
    color: red;
    text-align: center;
    min-height: 130px;
 }

 #title{
    text-decoration: underline;
    font-family: tahoma; 
    font-weight: 700; 
    font-size: 38px; 
    padding-top: 40px;
}

 .navigationMenu ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
}

a{
    color:white;
    text-decoration: underline;
    margin-top: 20px;
    font-size: 25px;
    font-family:Arial;
    font-weight: 400;
}

.navigationMenu li {
    padding-top: 50px;
}

#navBox{
    background-color: #333333;
    float: right;
    text-align: center;
    min-height: 350px;
    margin-top: 17px;
    margin-right: 80px;
    padding-right: 60px;
    padding-left: 20px;
    margin-left: 90px;
}

.Prices{
    background-color: #333333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    height: 300px;
}

.PricesIMG{
    width: 1000px;
    height: 300px;
}

.Comparison {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    width: 100%;
    }

    .div1 { 
        grid-area: 1 / 1 / 7 / 2; 
    }
    .div2 { 
        grid-area: 1 / 2 / 8 / 3;
    }

.ComparisonKey{
    height:50px;
    width:500px
}

.FirstCard{
    height: 75px;
    width: 500px
}

.SecondCard{
    height: 75px;
    width: 500px
}

.ThirdCard{
    height: 75px;
    width: 500px
}

.ForthCard{
    height: 75px;
    width: 500px
}

.FifthCard{
    height: 75px;
    width: 500px
}

.SixthCard{
    height: 75px;
    width: 500px
}

.SeventhCard{
    height: 75px;
    width: 500px
}

.EighthCard{
    height: 75px;
    width: 500px
}

.NinthCard{
    height: 75px;
    width: 500px
}

.TenthCard{
    height: 75px;
    width: 500px
}

.EleventhCard{
    height: 75px;
    width: 500px
}

.TwelthCard{
    height: 75px;
    width: 500px
}