html{
    margin: 0;
    padding: 0; 
}

body{
    font-family:Arial;
    font-weight: 400;
    margin: 10px;
    padding: 0;
    background-color: lightgray;
    animation: backgroundColor 10s infinite; /*This is code for an animation. This one is changing the background color every ten seconds.*/
}

@keyframes backgroundColor { /*This determines the colors in the animation and how long the background stays a certain color.*/
    0%    {background-color: lightgray;}
    50%    {background-color: darkred;}
    100%    {background-color: lightgray;}
}

